services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    env_file:
      - ./api-gateway/config.env
      - ./api-gateway/secret.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      &common-env
      REDIS_URL: redis://redis:6379
      RABBITMQ_URL: amqp://rabbitmq:5672
    volumes:
      - ./api-gateway:/usr/src/app
      - /usr/src/app/node_modules
    command: &common-command npm run dev

  identity-service:
    build: ./identity-service
    env_file:
      - ./identity-service/config.env
      - ./identity-service/secret.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      <<: *common-env
    volumes:
      - ./identity-service:/usr/src/app
      - /usr/src/app/node_modules
    command: *common-command

  post-service:
    build: ./post-service
    env_file:
      - ./post-service/config.env
      - ./post-service/secret.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      <<: *common-env
    volumes:
      - ./post-service:/usr/src/app
      - /usr/src/app/node_modules
    command: *common-command

  media-service:
    build: ./media-service
    env_file:
      - ./media-service/config.env
      - ./media-service/secret.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      <<: *common-env
    volumes:
      - ./media-service:/usr/src/app
      - /usr/src/app/node_modules
    command: *common-command

  search-service:
    build: ./search-service
    env_file:
      - ./search-service/config.env
      - ./search-service/secret.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      <<: *common-env
    volumes:
      - ./search-service:/usr/src/app
      - /usr/src/app/node_modules
    command: *common-command

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
 
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
